/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*============Begin Browser Reset via http://meyerweb.com/eric/tools/css/reset/============*/
		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0px 0px 0px 0px;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}
/*============End Browser Reset============*/

a{
	text-decoration: none;
}
/*============Header============*/
.header {
	display: flex;
/*	justify-content: center;*/
	background-image: url("header_background.jpg");
	justify-content: flex;
}
	.header-img-wrapper{
		margin: auto;
		display: inline-block;	
		height: 150px;
/*		width: 150px;*/
		/*border: 2px solid green;*/
	}
	.header-img{
		height: 100%;
		border-radius: 5%;
	}
	.nav {
		right: 0;
		position: absolute;
		align-self: flex-start;
		/*border: 1px solid red;*/
	}
	.nav-button{
		display: inline-block;
		border-radius: 10%;
		text-decoration: none;
		border: 2px solid lightgrey;
		color: white;
		font-size: 12px;
		font-family: Helvetica Neue;
		margin: 3px;
		text-align: center;
		padding: 15px;
	}
/*============End Header============*/


/*============Body============*/
.body-wrapper{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.card-wrapper{
	padding: 5px;
	margin-top: 10px;
	text-align: center;
	/*margin: 0.5%;*/
}
.card-text{
	color: #ff5400;
	font-size: 16px;
	font-family: Helvetica Neue;
}
.card-img-wrapper{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid skyblue;
}
.card-img{
	height: 200px;
}
.show-card-wrapper{
	padding: 5px;
	margin-top: 10px;
	text-align: center;
}
.show-card-text{
	color: #ff5400;
	font-size: 20px;
	font-family: Helvetica Neue;
}
.show-card-img-wrapper{
	height: 500px;
	width: 500px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid skyblue;
}
.show-card-img{
	height: 500px;
}
/*============End Body============*/